<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://demogame.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/9d3ac00f-c969-43cd-8fb5-11547d75f2c0/resourceGroups/TestGame/providers/Microsoft.Web/sites/DemoGame</ResourceId>
    <UserName>$DemoGame</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://demogame.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>